# ignore node dependency directories
node_modules/
vendor/
.DS_Store
assets/.DS_Store
assets/dist/.DS_Store

# ignore log files and databases
*.log
*.sql
*.sqlite

package-lock.json
assets/mix-manifest.json