.performance-header {
  text-align: center;
  padding-top: 20px;
}

.performance-header h2 {
  font-size: 25px;
}

.performance-settings .components-panel__body {
  border: none;
  text-align: center;
}

.perf-settings-container .row {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

@media only screen and (max-width: 991px) {
  .perf-settings-container .row {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .perf-settings-container .components-panel__row label {
    max-width: 100%;
  }
}

