* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #0071a1;
	--default: #464646;
	--lightgray: #cccccc;
}

body {
	background: #f1f1f1;
	color: #000;
	position: relative;
}

button {
	cursor: pointer;
	outline: none;
}
.demo-importer-ui {
	width: 100%;
	padding: 30px;
	position: relative;
}

.demo-importer-ui .btn {
	text-decoration: none;
	display: inline-block;
	text-transform: capitalize;
	outline: none;
	border: 1px solid var(--lightgray);
	color: #464646;
	padding: 6px 13px;
	border-radius: 4px;
	transition: 0.2s linear;
}

.demo-importer-ui .btn.primary-btn {
	background: var(--primary);
	border: 1px solid var(--primary);
	color: #fff;
}

.demo-importer-ui .btn.primary-btn:hover,
.demo-importer-ui .btn.primary-btn:focus {
	opacity: 0.85;
}

.demo-importer-ui .btn.outline-btn {
	background: transparent;
	border: 1px solid var(--primary);
	color: var(--primary);
}

.demo-importer-wrapper img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.demo-importer-wrapper header h3 {
	margin-bottom: 20px;
}

.nav-container {
	background: #fff;
	margin-bottom: 30px;
	border-radius: 3px;
	padding: 13px 20px;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr;
}

.nav-container .nav-filter {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-bottom: 10px;
}

@media (min-width: 768px) {
	.nav-container {
		grid-template-columns: 4fr 1fr;
	}
	.nav-container .nav-filter {
		margin-bottom: 0;
	}

	.nav-container .nav-filter .filter-btn:not(:first-child) {
		margin-left: 15px;
	}
	.no-list-found {
		grid-column: 2/3;
	}
}

.nav-container .nav-filter .filter-btn {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	background: transparent;
	outline: none;
	border: none;
	font-size: 1em;
	text-transform: capitalize;
	position: relative;
	padding: 0px 10px;
}

.nav-container .nav-filter .filter-btn:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: calc(0% - 19px);
	left: 0;
	background: #303030;
	opacity: 0;
	transition: 0.2s linear;
	transform: scaleX(0);
}

.nav-container .nav-filter .filter-btn:hover:after,
.nav-container .nav-filter .filter-btn:focus:after {
	opacity: 1;
	transform: scaleX(1);
}

@media (max-width: 767px) {
	.nav-container .nav-filter .filter-btn:after {
		display: none;
	}

	.nav-container .nav-filter,
	.nav-container .nav-filter .filter-btn {
		display: block;
	}
	.nav-container .nav-filter .filter-btn {
		margin-left: 0;
		padding: 0;
	}
	.nav-container .nav-filter .filter-btn:not(:last-child) {
		margin-bottom: 8px;
	}
}

.search-filter {
	z-index: 1;
}

.search-filter input[type="search"] {
	width: 100%;
	height: auto;
	padding: 5px;
	border: 1px solid var(--lightgray);
	border-radius: 3px;
	outline: none;
	transition: 0.2s linear;
}
.search-filter input[type="search"]:hover,
.search-filter input[type="search"]:focus {
	border-color: var(--primary);
}

.search-filter input[type="search"]:focus {
	box-shadow: 0 0 0 1px rgb(0 113 161 / 60%);
}

input[type="search" i]::-webkit-search-cancel-button {
	cursor: pointer;
}

.list-container {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	animation: fade 0.6s linear;
}

@media (min-width: 768px) {
	.list-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.single-item .thumbnail {
	border-radius: 3px 3px 0 0;
	position: relative;
	overflow: hidden;
}

.single-item .thumbnail .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgb(0 0 0 / 55%);
	opacity: 0;
	transition: opacity 0.3s linear;
}

.single-item:hover .overlay {
	opacity: 1;
}

.single-item .thumbnail .overlay h4 {
	font-size: 1.5em;
	font-weight: 600;
	color: #fff;
	margin-bottom: 20px;
}

.single-item .thumbnail .overlay-btn {
	color: #fff;
	background: rgb(0 0 0 / 53%);
	border: 1px solid rgb(255 255 255 / 25%);
}

.single-item .thumbnail .overlay-btn:not(:last-child) {
	margin-right: 10px;
}

.single-item .thumbnail .overlay h4 {
	font-size: 1.5em;
	font-weight: 600;
	color: #fff;
	margin-bottom: 15px;
}

.single-item .thumbnail img{
	width: 100%;
	height: 350px;
}

.single-item .actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 13px 15px 15px 15px;
	background: #ffff;
	border-radius: 0 0 3px 3px;
	position: relative;
	margin-top: -3px;
}

.single-item .actions .import-btn {
	background: #0071a1;
	border: 1px solid #0071a1;
	color: #fff;
}

.single-item .actions .import-btn:hover,
.single-item .thumbnail .overlay-btn:hover {
	opacity: 0.8;
}

.no-list-found {
	padding: 13px 15px 15px 15px;
	background: #ffff;
	border-radius: 3px;
}

/* Modal popup */
.modal-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(0 0 0 / 80%);
	padding: 30px;

	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	z-index: 0;
	opacity: 0;
}

.modal-wrapper.active {
	z-index: 10;
	opacity: 1;
}

.modal-content {
	background: #fff;
	max-width: 450px;
	border-radius: 5px;

	animation: fade 0.4s linear;
}

.modal-wrapper.active .modal-content {
	opacity: 1;
	transform: translateY(0px);
}

/* Modal Content  */
.modal-content > [class^="modal-"] {
	padding: 15px;
}

.modal-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-content .close-btn {
	background: transparent;
	border: none;
	font-size: 2em;
	line-height: 0.6;
	font-family: sans-serif;
	font-weight: 300;
	transform: rotate(45deg);
}

.modal-content .modal-body {
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	padding: 30px;
	text-align: center;
}

.modal-content .modal-body p {
	line-height: 1.5;
	margin-bottom: 5px;
}

.modal-content .modal-body strong {
	display: block;
	text-transform: capitalize;
}

.modal-content .modal-body strong:not(:last-child):after {
	content: ", ";
}

.modal-footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.modal-footer .btn {
	padding: 5px 10px;
}
.modal-footer .btn:not(:last-child) {
	margin-right: 10px;
}

/* ProgressBar */
.progress-wrapper {
	max-width: 350px;
	text-align: center;
	font-size: 14px;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	margin-bottom: 5px;
	height: 10px;
	position: relative;
	overflow: hidden;
	box-shadow: inset 0px 0px 2px 1px rgb(0 0 0 / 5%);
}

.progress-status {
	--color-1: #03a9f4;
	--color-2: #da00ff;
	--color-3: #e91e63;
	background: linear-gradient(to right, var(--color-1), var(--color-2), var(--color-3));
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 0;
}