.installation-screen{
	.modal-content {
		min-width: 320px;
	}
    .modal-body {
        padding-top: 0;
        margin-top: -10px;
    }
}

.installation-status {
	display: flex;
	align-items: center;
	margin-bottom: 23px;
	
	.progress-status {
		background: linear-gradient(270deg, #5FAC23 0%, #97D766 100%);
	}
	.progress {
		background: #E3E7EC;
		height: 8px;
		border-radius: 5px;
		width: 100%;
		margin-bottom: 0;
	}
	.percentage {
		margin-left: 8px;
		font-size: 12px;
	}
}

.plugin-item{
    display: flex;
	align-items: center;
    .title {
		margin-left: 5px;
		font-size: 14px;
		font-weight: 500;
		color: #1D2427;
	}
    &:not(:last-child) {
        margin-bottom: 11px;
    }

    // Circle Progressbar
    svg#svg-circle {
        --dashArr: 44;
        width: 16px;
        height: 16px;
        circle:not(.circle-full) {
            position: absolute;
            fill: none;
            stroke-width: 2;
            transform: translate(1px, -1px) rotate(-90deg);
            transform-origin: center center;
            stroke-dasharray: var(--dashArr);
        }
        
        circle.bg {
            stroke-dashoffset: 0;
            stroke: #E3E7EC;
        }
        
        circle.fg {
            stroke-dashoffset: calc(var(--dashArr) - (var(--dashArr) * 30) / 100);
            stroke: #5FAC23;
            animation: percent 1.5s linear;
            animation-delay: 1s;
        }
        circle.circle-full {
            transform: translate(1px, 1px);
        }
    }

}