.installation-screen {
    .modal-content {
        min-width: 320px;
        min-height: 200px;
    }
    .modal-body {
        padding-top: 0;
        margin-top: -10px;
    }
}

.installation-status {
    display: flex;
    align-items: center;
    margin-bottom: 23px;

    .progress-status {
        background: linear-gradient(270deg, #5fac23 0%, #97d766 100%);
    }
    .progress {
        background: #e3e7ec;
        height: 8px;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 0;
    }
    .percentage {
        margin-left: 8px;
        font-size: 12px;
    }
}

.plugin-item {
    display: flex;
    align-items: center;
    .title {
        margin-left: 5px;
        font-size: 14px;
        font-weight: 500;
        color: #1d2427;
    }
    .title-notactive {
        margin-left: 5px;
        font-size: 14px;
        font-weight: 500;
        color: #707172;
    }
    &:not(:last-child) {
        margin-bottom: 11px;
    }

    // Circle Progressbar
    svg#svg-circle {
        --dashArr: 44;
        width: 16px;
        height: 16px;
        circle:not(.circle-full) {
            position: absolute;
            fill: none;
            stroke-width: 2;
            transform: translate(1px, -1px) rotate(-90deg);
            transform-origin: center center;
            stroke-dasharray: var(--dashArr);
        }

        circle.bg {
            stroke-dashoffset: 0;
            stroke: #e3e7ec;
        }

        circle.fg {
            stroke-dashoffset: calc(
                var(--dashArr) - (var(--dashArr) * 30) / 100
            );
            stroke: #5fac23;
            // animation: spinning 1.5s linear infinite;
            // animation-delay: 1s;
        }

        circle.circle-full {
            transform: translate(1px, 1px);
        }

        path.check-mark {
            transform: translate(0px, 1px);
            animation: scaleDown 0.5s ease-in-out;
        }
    }
}

// Circle Progressbar
svg.svg-circle-solo {
    --dashArr: 44;
    width: 16px;
    height: 16px;
    margin-left: 5px;

    circle.bg {
        stroke-dashoffset: 0;
        stroke: #e3e7ec;
    }

    circle.fg {
        stroke-dashoffset: calc(var(--dashArr) - (var(--dashArr) * 30) / 100);
        stroke: #5fac23;
    }

    circle.circle-full {
        transform: translate(1px, 1px);
    }

    path.check-mark {
        transform: translate(0px, 1px);
        animation: scaleDown 0.5s ease-in-out;
    }
}

@keyframes scaleDown {
    from {
        transform: translate(0px, 1px) scale(2.5);
        transform-origin: center center;
    }
    to {
        transform: translate(0px, 1px) scale(1);
        transform-origin: center center;
    }
}

// Spinner
svg.svg-spinner {
    animation: rotate 2s linear infinite;
    width: 14px;
    height: 14px;

    & .path {
        stroke: #60ac23;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }
}

// Spinner Alone
svg.svg-spinner-solo {
    animation: rotate 2s linear infinite;
    width: 14px;
    height: 14px;
    margin-left: 5px;

    & .path {
        stroke: #60ac23;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
