.installation-screen {
    .modal-content {
        display: flex;
        flex-direction: column;
        max-width: 410px;
        width: 400px;
        min-height: 230px;
    }
    .modal-head h4 {
        margin-top: 20px;
        padding: 0 15px;
    }
    .modal-body {
        margin-top: -10px;
        padding-top: 0;
        padding-bottom: 27px;
    }
}

.installation-complete {
    .modal-content {
        display: flex;
        flex-direction: column;
        max-width: 410px;
        width: 400px;
        height: 200px;
    }
    .modal-head h4 {
        padding: 0 15px;
    }
    .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        //align-items: flex-start;
        padding: 0 25px 25px 25px;
        .heading {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px;
            background: #cbe9d5;
            border-radius: 6px;

            h3 {
                margin-left: 10px;
                color: #075a2a;
                font-size: 20px;
                font-weight: bold;
            }
        }
        .complete {
            width: 50%;
            a {
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}

.installation-status {
    display: flex;
    align-items: center;
    margin-bottom: 23px;

    .progress-status {
        background: #1973aa;
    }

    .progress {
        position: relative;
        overflow: hidden;
        box-shadow: inset 0px 0px 2px 1px rgb(0 0 0 / 5%);
        background: #e3e7ec;
        height: 8px;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 0;
    }

    .progress-status {
        border-radius: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 0;
        transition: 0.2s linear;
        background: linear-gradient(270deg, #5fac23 0%, #97d766 100%);
    }
    
    .percentage {
        margin-left: 8px;
        font-size: 12px;
    }

}

.plugin-item,
.demo-content {
    display: flex;
    align-items: center;
    .title {
        margin-left: 5px;
        font-size: 14px;
        font-weight: 500;
        color: #1d2427;
    }
    .title-notactive {
        margin-left: 5px;
        font-size: 14px;
        font-weight: 500;
        color: #707172;
    }
    &:not(:last-child) {
        margin-bottom: 11px;
    }
    .plugin-not-installed {
        margin-right: -5px;
        font-size: 18px;
        color: red;
        vertical-align: middle;
        display: inline-block;
    }

    // Circle Progressbar
    svg#svg-circle {
        --dashArr: 44;
        width: 16px;
        height: 16px;
        circle:not(.circle-full) {
            position: absolute;
            fill: none;
            stroke-width: 2;
            transform: translate(1px, -1px) rotate(-90deg);
            transform-origin: center center;
            stroke-dasharray: var(--dashArr);
        }

        circle.bg {
            stroke-dashoffset: 0;
            stroke: #e3e7ec;
        }

        circle.fg {
            stroke-dashoffset: calc(
                var(--dashArr) - (var(--dashArr) * 30) / 100
            );
            stroke: #5fac23;
            // animation: spinning 1.5s linear infinite;
            // animation-delay: 1s;
        }

        circle.circle-full {
            transform: translate(1px, 1px);
        }

        path.check-mark {
            transform: translate(0px, 1px);
            animation: scaleDown 0.5s ease-in-out;
        }
    }
}

// Circle Progressbar
svg.svg-circle-solo {
    --dashArr: 44;
    width: 16px;
    height: 16px;
    margin-left: 5px;

    circle.bg {
        stroke-dashoffset: 0;
        stroke: #e3e7ec;
    }

    circle.fg {
        stroke-dashoffset: calc(var(--dashArr) - (var(--dashArr) * 30) / 100);
        stroke: #5fac23;
    }

    circle.circle-full {
        transform: translate(1px, 1px);
    }

    path.check-mark {
        transform: translate(0px, 1px);
        animation: scaleDown 0.5s ease-in-out;
    }
}

@keyframes scaleDown {
    from {
        transform: translate(0px, 1px) scale(2.5);
        transform-origin: center center;
    }
    to {
        transform: translate(0px, 1px) scale(1);
        transform-origin: center center;
    }
}

// Spinner
svg.svg-spinner {
    animation: rotate 2s linear infinite;
    width: 14px;
    height: 14px;

    & .path {
        stroke: #60ac23;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }
}

// Spinner Alone
svg.svg-spinner-solo {
    animation: rotate 2s linear infinite;
    width: 14px;
    height: 14px;
    margin-left: 5px;

    & .path {
        stroke: #60ac23;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
