/* ProgressBar */
.progress-wrapper {
	max-width: 350px;
	width: 100%;
	margin-top: 15px;
	text-align: center;
	font-size: 14px;
}

.progress {
	background-color: transparent;
	border-radius: 20px;
	margin-bottom: 15px;
	height: 10px;
	position: relative;
	overflow: hidden;
	box-shadow: inset 0px 0px 2px 1px rgb(0 0 0 / 5%);
}

.progress-status {
	--color-white: #ffffff;
	background: var(--color-white);
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 0;
	transition: 0.2s linear;
}

span.status-text {
	color: #ffffff;
	margin-top: 15px;
}

.installation-screen{
	.modal-content {
		min-width: 320px;
	}
}
.installation-status {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	
	.progress-status {
		background: linear-gradient(270deg, #5FAC23 0%, #97D766 100%);
	}
	.progress {
		background: #E3E7EC;
		height: 8px;
		border-radius: 5px;
		width: 100%;
		margin-bottom: 0;
	}
	.percentage {
		margin-left: 8px;
		font-size: 12px;
	}
}


.plugin-status {
	display: flex;
	align-items: center;
}

.circle-progress {
	display: inline-flex;
	margin-right: 5px;
}