.radio-field-wrapper {
    margin-bottom: 40px;
}

.radio-field-item {
    background: #FFFFFF;
    border: 1px solid #E9EDEE;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 16px;
    display: grid;
    grid-template-areas: "text radio";
    grid-template-columns: 1fr auto;
    align-items: center;
    input[type=radio] {
        grid-area: radio;
        background: linear-gradient(180deg, #F4F5F9 0%, #E3E6F2 99.52%);
        border: 2px solid #0184FF;
        box-shadow: 0px 1px 0px rgb(22 29 37 / 5%);
        width: 18px;
        height: 18px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        &:checked::before {
            width: 8px;
            height: 8px;
            background-color: #0184FF;
            margin: 0;
        }
    }
    label {
        grid-area: text;
        display: grid;
        grid-gap: 8px;
        grid-auto-flow: column;
        align-items: center;
        justify-content: flex-start;
        padding: 16px;
        padding-right: 0;
        span{
            font-size: 14px;
            color: #000000;
            text-transform: capitalize;
        }
    }
}